
button {
  position: relative;
  appearance: none;
  font-family: "Roboto Condensed", sans-serif;
  background: transparent;
  color: #eceff1;
  border: none;
  transform: translate3d(0, 0, 0);
  touch-action: manipulation;

  &::after {
    content: "";
    background: #18ffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity ease 60ms;
  }

  &:active::after {
    opacity: 0.5;
    transition: none;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &.counter-icon::after,
  &.counter-icon:active::after {
    border-radius: 100%;
  }

  &.delete-counter {
    position: absolute;
    top: 2.5%;
    right: 0;

    div {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 17px;
      height: 17px;
      line-height: 17px;
      background: #F4511E;
      border-radius: 36px;
      font-size: 17px;
    }

    &::after {
      display: none;
    }
  }
}

.strikeout {
  text-decoration: line-through;
}
