// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:600|Playfair+Display:900|Roboto:300,500');
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto+Condensed|Roboto+Slab:300");
@import 'Theme/buttons';
@import 'Components/Header/Header';
@import 'Components/Grid/Grid';
@import 'Components/Counter/Counter';
@import 'Components/DiceModal/DiceModal';
@import 'Components/Footer/Footer';

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background: #000000;
  color: #fafafa;
  font-size: 16px;
}

.App {
  height: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
  transition-delay: 250ms;

  &.is-loaded {
    opacity: 1;
  }
}
